src/main/resources/wsdl/NotificacionBajaSuscripcion.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.antel.com.uy/servicio/epagos/notificaciones-v6.0"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  name="NotificacionBajaSuscripcionServiceFinalService" targetNamespace="http://www.antel.com.uy/servicio/epagos/notificaciones-v6.0">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.antel.com.uy/servicio/epagos/notificaciones-v6.0" elementFormDefault="qualified" targetNamespace="http://www.antel.com.uy/servicio/epagos/notificaciones-v6.0" version="1.0">

  <xs:element name="notificacionBajaSuscripcionDTO" type="tns:notificacion-baja-suscripcion"/>

  <xs:element name="notificarBajaSuscripcion" type="tns:notificarBajaSuscripcion"/>

  <xs:complexType name="notificarBajaSuscripcion">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tns:notificacionBajaSuscripcionDTO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="notificacion-baja-suscripcion">
    <xs:sequence>
      <xs:element name="codigo-respuesta" type="xs:string"/>
      <xs:element name="mensaje" type="xs:string"/>
      <xs:element name="token" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="notificarBajaSuscripcion">
    <wsdl:part element="tns:notificarBajaSuscripcion" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Request">
    <wsdl:operation name="notificarBajaSuscripcion">
      <wsdl:input message="tns:notificarBajaSuscripcion" name="notificarBajaSuscripcion">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NotificacionBajaSuscripcionServiceFinalServiceSoapBinding" type="tns:Request">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="notificarBajaSuscripcion">
      <soap12:operation soapAction="urn:antel:mdm:system:epagos:notificacionBajaSuscripcion" style="document"/>
      <wsdl:input name="notificarBajaSuscripcion">
        <soap12:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotificacionBajaSuscripcionServiceFinalService">
    <wsdl:port binding="tns:NotificacionBajaSuscripcionServiceFinalServiceSoapBinding" name="NotificacionBajaSuscripcionPort">
      <soap12:address location="https://antel.com.uy/endpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>