src/main/resources/wsdl/SolicitudSuscripcion.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.antel.com.uy/servicio/epagos/suscripciones-v6.0"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  name="SolicitudSuscripcionServiceFinalService" targetNamespace="http://www.antel.com.uy/servicio/epagos/suscripciones-v6.0">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.antel.com.uy/servicio/epagos/suscripciones-v6.0" elementFormDefault="qualified" targetNamespace="http://www.antel.com.uy/servicio/epagos/suscripciones-v6.0" version="1.0">

  <xs:element name="iniciarSolicitudSuscripcion" type="tns:iniciarSolicitudSuscripcion"/>

  <xs:element name="solicitudSuscripcionDTO" type="tns:solicitudSuscripcionDTO"/>

  <xs:complexType name="iniciarSolicitudSuscripcion">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tns:solicitudSuscripcionDTO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="solicitudSuscripcionDTO">
    <xs:sequence>
      <xs:element name="id-cliente" type="xs:string"/>
      <xs:element name="codigo-oferta" type="xs:string"/>
      <xs:element name="codigo-comercio" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="iniciarSolicitudSuscripcion">
    <wsdl:part element="tns:iniciarSolicitudSuscripcion" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Request">
    <wsdl:operation name="iniciarSolicitudSuscripcion">
      <wsdl:input message="tns:iniciarSolicitudSuscripcion" name="iniciarSolicitudSuscripcion">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SolicitudSuscripcionServiceFinalServiceSoapBinding" type="tns:Request">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="iniciarSolicitudSuscripcion">
      <soap12:operation soapAction="urn:antel:mdm:system:epagos:b2b:comercio:iniciarSolicitudSuscripcion" style="document"/>
      <wsdl:input name="iniciarSolicitudSuscripcion">
        <soap12:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SolicitudSuscripcionServiceFinalService">
    <wsdl:port binding="tns:SolicitudSuscripcionServiceFinalServiceSoapBinding" name="InicioSolicitudSuscripcionPort">
      <soap12:address location="https://antel.com.uy/endpoint/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>